<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <staticContent>
        <remove fileExtension=".manifest" />
		    <remove fileExtension=".mp4" />
		    <remove fileExtension=".ogv" />
        <remove fileExtension=".webm" />
        <remove fileExtension=".vtt" />
        <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
		    <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		    <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
        <mimeMap fileExtension=".webm" mimeType="video/webm" />
        <mimeMap fileExtension=".vtt" mimeType="text/vtt" />
      </staticContent>
    </system.webServer>
</configuration>
